<!doctype html>

<script type=text/javascript src="{{
  url_for('static', filename='d3.min.js') }}"></script>

<script type=text/javascript src="{{
  url_for('static', filename='d3.layout.min.js') }}"></script>

<script type=text/javascript src="{{
  url_for('static', filename='rickshaw.js') }}"></script>

<script type=text/javascript src="{{
  url_for('static', filename='d3.v2.js') }}"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


<style>
#legend {
        float: left;
        margin-left: 15px;
}
</style>

<body>

<div id="chart_container">
	<div id="chart"></div>
	<div id="legend"></div>
</div>

<script>

var ajaxGraph = new Rickshaw.Graph.Ajax( {

	element: document.getElementById("chart"),
	width: 400,
	height: 200,
	renderer: 'line',
	dataURL: "{{ url_for('get_station_flows', station_id=station_id) }}",
	series: [
		{
			name: {{station_id}},
			color: '#c05020',
		}
	],
	onComplete: function(transport) {
                var graph = transport.graph;
                var detail = new Rickshaw.Graph.HoverDetail({ graph: graph });
		var legend = new Rickshaw.Graph.Legend( {
			element: document.querySelector('#legend'),
			graph: graph 
		} );
        }
} );

</script> 
</body>
